[submodule "roles/prometheus_node_exporter"]
	path = roles/prometheus_node_exporter
	url = https://github.com/oxivanisher/role-prometheus_node_exporter.git
[submodule "roles/apt_unattended_upgrade"]
	path = roles/apt_unattended_upgrade
	url = https://github.com/oxivanisher/role-apt_unattended_upgrade.git
[submodule "roles/apt_source"]
	path = roles/apt_source
	url = https://github.com/oxivanisher/role-apt_source.git
[submodule "roles/ssh_server"]
	path = roles/ssh_server
	url = https://github.com/oxivanisher/role-ssh_server.git
[submodule "roles/os_upgrade"]
	path = roles/os_upgrade
	url = https://github.com/oxivanisher/role-os_upgrade.git
[submodule "roles/rebootcheck"]
	path = roles/rebootcheck
	url = https://github.com/oxivanisher/role-rebootcheck.git
[submodule "roles/nullmailer"]
	path = roles/nullmailer
	url = https://github.com/oxivanisher/role-nullmailer.git
[submodule "roles/smartd"]
	path = roles/smartd
	url = https://github.com/oxivanisher/role-smartd.git
[submodule "roles/packages"]
	path = roles/packages
	url = https://github.com/oxivanisher/role-packages.git
[submodule "roles/timezone"]
	path = roles/timezone
	url = https://github.com/oxivanisher/role-timezone.git
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/oxivanisher/role-locales.git
[submodule "roles/ssh_keys"]
	path = roles/ssh_keys
	url = https://github.com/oxivanisher/role-ssh_keys.git
[submodule "roles/syslog"]
	path = roles/syslog
	url = https://github.com/oxivanisher/role-syslog.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/oxivanisher/role-ntp.git
[submodule "roles/logwatch"]
	path = roles/logwatch
	url = https://github.com/oxivanisher/role-logwatch.git
[submodule "roles/realtime_clock"]
	path = roles/realtime_clock
	url = https://github.com/oxivanisher/role-realtime_clock.git
[submodule "roles/dnscache"]
	path = roles/dnscache
	url = https://github.com/oxivanisher/role-dnscache.git
[submodule "roles/hosts_file"]
	path = roles/hosts_file
	url = https://github.com/oxivanisher/role-hosts_file.git
[submodule "roles/hosts_override"]
	path = roles/hosts_override
	url = https://github.com/oxivanisher/role-hosts_override.git
[submodule "roles/nextcloud_davfs"]
	path = roles/nextcloud_davfs
	url = https://github.com/oxivanisher/role-nextcloud_davfs.git
[submodule "roles/keyboard_layout"]
	path = roles/keyboard_layout
	url = https://github.com/oxivanisher/role-keyboard_layout.git
[submodule "roles/set_hostname"]
	path = roles/set_hostname
	url = https://github.com/oxivanisher/role-set_hostname
[submodule "roles/vm_guest_addons"]
	path = roles/vm_guest_addons
	url = https://github.com/oxivanisher/role-vm_guest_addons
[submodule "roles/system_user"]
	path = roles/system_user
	url = https://github.com/oxivanisher/role-system_user
[submodule "roles/resize_lvol"]
	path = roles/resize_lvol
	url = https://github.com/oxivanisher/role-resize_lvol
[submodule "roles/chrony"]
	path = roles/chrony
	url = https://github.com/oxivanisher/role-chrony
[submodule "roles/deploy_user"]
	path = roles/deploy_user
	url = https://github.com/oxivanisher/role-deploy_user.git
[submodule "roles/oxiscripts"]
	path = roles/oxiscripts
	url = https://github.com/oxivanisher/role-oxiscripts.git
[submodule "roles/grub_cmdline_options"]
	path = roles/grub_cmdline_options
	url = https://github.com/oxivanisher/role-grub_cmdline_options.git
