[submodule "roles/prometheus_node_exporter"]
	path = roles/prometheus_node_exporter
	url = https://github.com/oxivanisher/role-prometheus_node_exporter.git
[submodule "roles/apt_unattended_upgrade"]
	path = roles/apt_unattended_upgrade
	url = https://github.com/oxivanisher/role-apt_unattended_upgrade.git
[submodule "roles/apt_source"]
	path = roles/apt_source
	url = https://github.com/oxivanisher/role-apt_source.git
[submodule "roles/oxiscripts"]
	path = roles/oxiscripts
	url = https://github.com/oxivanisher/role-oxiscripts.git
[submodule "roles/ssh_server"]
	path = roles/ssh_server
	url = https://github.com/oxivanisher/role-ssh_server.git
[submodule "roles/os_upgrade"]
	path = roles/os_upgrade
	url = https://github.com/oxivanisher/role-os_upgrade.git
[submodule "roles/rebootcheck"]
	path = roles/rebootcheck
	url = https://github.com/oxivanisher/role-rebootcheck.git
[submodule "roles/nullmailer"]
	path = roles/nullmailer
	url = https://github.com/oxivanisher/role-nullmailer.git
